@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 1024px) {
  body {
    
  }
}
@media (max-width: 768px) {
  body{

  }
}
#modal{
  @apply z-[4] 
}

#app{
  @apply z-[3]
}

#bg-cont{
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.5;
  background-image:  linear-gradient(rgba(248, 247, 252, .3) 0.8px, transparent 0.8px), linear-gradient(to right, rgba(248, 247, 252, .3) 0.8px, rgba(255, 255, 255, 0) 0.8px);
  background-size: 30px 30px;
}

.custom-shape-divider-top-1694874631 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1694874631 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 133px;
}

.custom-shape-divider-top-1694874631 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1694874631 svg {
      width: calc(140% + 1.3px);
      height: 69px;
  }
}

h1{
  @apply text-5xl sm:text-6xl font-bold leading-[3rem]
}
h2{
  @apply text-4xl sm:text-5xl font-bold leading-[3rem]
}
p{
  @apply sm:text-2xl leading-5
}